.listItem{
    border-bottom: 1px solid black;
}
.listContainer{
    background-color: #FFF2CC;
    width: 30%;
    margin: auto;
    height: 30em;
}

.entryForm{
    background-color: #FFF2CC;
    width: 97%;
    color: grey;
    border: none;
    
}